---
import DescriptionSection from '../../components/ui/DescriptionSection.astro';
import IconePlus from '../../assets/plus.svg'

import slideImage from "../../assets/ImgsSection1/img2.jpg";

import CardDoutores from '../../components/ui/CardDoutores.astro'
import Ultrassonografista_1 from '../../assets/especialistas/Cicero_ultrassonografista.png'
import Ultrassonografista_2 from '../../assets/especialistas/Ubirajara_ultrassonografista.png'

import Fisioterapeuta_1 from '../../assets/especialistas/Juarez_fisioterapeuta.png'

import LaserDepilacao from '../../assets/especialistas/Juliana_fisio.png'
import { object } from 'astro:schema';

const ultrassom = [
  {img: Ultrassonografista_2.src, title: "Ultrassonografista", text: "Dr. Ubirajara Matos", conselho:"CRM: 7362-AL", objectTop: true},
  {img: Ultrassonografista_1.src, title: "Ultrassonografista", text: "Dr. Cícero Almeida", conselho: "CRM: 7362-AL", objectTop: false }
    
];

const fisio = [
    { img: Fisioterapeuta_1.src, title: "Fisioterapeuta", text: "Dr. Juarez Alexandre", conselho:"CREFITO: 283695- F"}
];

const laser = [
  { img: LaserDepilacao.src, title: "Fisioterapeuta", text: "Dra. Juliana Oliveira", conselho:"CREFITO: 351313-F "}
];
---
<section class="w-full flex justify-center items-center min-h-screen">
  <img 
    src={slideImage.src} 
    alt="Imagem dos serviços da clínica" 
    class="rounded-lg object-cover w-full h-[40vh] sm:h-[50vh] md:h-[60vh] lg:h-[70vh] xl:h-[80vh] max-h-screen"
    style="aspect-ratio: 16/7;"
    loading="lazy"
  />
</section>
<section class="flex flex-col items-center justify-center py-8 sm:py-10 md:py-14 lg:py-16 gap-6 max-w-7xl mx-auto px-3 sm:px-5 md:px-8 lg:px-8 mt-10">
  <DescriptionSection 
    img={IconePlus.src}
    label='NOSSOS SERVIÇOS'
    title='Conheça Nossos Serviços'
  />
  <!-- Seção de serviços da clínica médica -->
  <div class="flex flex-col gap-8 md:gap-10 lg:gap-12 w-full">
    <!-- Ultrassonografia -->
    <div class="flex flex-col lg:flex-row lg:items-start gap-6 bg-white p-4 sm:p-6">
      <!-- Texto à esquerda -->   
      <div id="ultrassonografia" class="flex-1 min-w-0">
        <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-5xl font-semibold text-[#031E2D] mt-4 mb-3 text-left">
          Ultrassonografia
        </h2>
        <p class="text-justify text-gray-700 leading-relaxed text-sm sm:text-base md:text-lg lg:text-2xl mb-3">
          O serviço de ultrassonografia é realizado em um ambiente acolhedor, pensado para que você se sinta tranquilo e seguro durante todo o exame. Nossa equipe prioriza o atendimento humanizado, respeitando suas necessidades e garantindo atenção individualizada.
        </p>
        <ul class="list-disc pl-4 space-y-1 text-gray-700 text-justify leading-relaxed text-sm sm:text-base md:text-lg lg:text-2xl mb-3">
          <li>ABDOME TOTAL;</li>
          <li>ABDOME SUPERIOR;</li>
          <li>PAREDE ABDOMINAL;</li>
          <li>HIPOCÔNDRIO DIREITO;</li>
          <li>VIAS URINÁRIAS;</li>
          <li>PRÓSTATA;</li>
          <li>TIREÓIDE;</li>
          <li>TIREÓIDE DOPPLER;</li>
          <li>GESTAÇÃO;</li>
          <li>GESTAÇÃO GEMELAR;</li>
          <li>PÉLVICA;</li>
          <li>PÉLVICA + ENDOVAGINAL;</li>
          <li>ENDOVAGINAL;</li>
          <li>MAMAS + AXILAS;</li>
          <li>BOLSA ESCROTAL (TESTÍCULOS);</li>
          <li>BOLSA ESCROTAL DOPPLER;</li>
          <li>REGIAO INGUINAL;</li>
          <li>ARTICULAÇÃO OMBRO;</li>
          <li>ARTICULAÇÃO PUNHO;</li>
          <li>ARTICULAÇÃO COTOVELO;</li>
          <li>MÃO;</li>
          <li>ARTICULAÇÃO JOELHO;</li>
          <li>ARTICULAÇÃO TORNOZELO;</li>
          <li>QUADRIL;</li>
          <li>PÉ.</li>
        </ul>
      </div>
      <!-- Fotos à direita -->
      <div class="flex flex-col items-center gap-2 mt-6 md:mt-0 w-full lg:w-auto lg:ml-6">
        <h3 class="font-bold text-lg sm:text-xl md:text-2xl text-[#031E2D] mb-2 text-center">Profissionais responsáveis</h3>
        <div class="flex flex-row flex-wrap gap-3 w-full justify-center">
          {ultrassom.map((doctor) => (
            <CardDoutores img={doctor.img} title={doctor.title} text={doctor.text} conselho={doctor.conselho} objectTop={doctor.objectTop} background="#fff" />
          ))}
        </div>
      </div>
    </div>
    <!-- Fisioterapia -->
    <div id="fisioterapia" class="flex flex-col lg:flex-row lg:items-start gap-6 bg-white p-4 sm:p-6">
      <div class="flex-1 min-w-0">
        <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-5xl font-semibold text-[#031E2D] mt-4 mb-3 text-left">
          Fisioterapia
        </h2>
        <p class="text-justify text-gray-700 leading-relaxed text-sm sm:text-base md:text-lg lg:text-2xl mb-3">
          Fisioterapia é uma área da saúde que atua na prevenção, diagnóstico e tratamento de disfunções do movimento e das funções do corpo. Seu objetivo é promover qualidade de vida, aliviar dores e restaurar a funcionalidade por meio de técnicas terapêuticas, exercícios e orientações.
        </p>
        <ul class="list-disc pl-4 space-y-1 text-gray-700 text-justify leading-relaxed text-sm sm:text-base md:text-lg lg:text-2xl mb-3">
          <li>FISIOTERAPIA ORTOPÉDICA;</li>
          <li>FISIOTERAPIA TRAUMATOLÓGICA;</li>
          <li>FISIOTERAPIA ESPORTIVA;</li>
          <li>FISIOTERAPIA NEUROLÓGICA;</li>
          <li>FISIOTERAPIA RESPIRATÓRIA;</li>
          <li>FISIOTERAPIA GERIÁTRICA;</li>
        </ul>
      </div>
      <div class="flex flex-col items-center gap-2 mt-6 md:mt-0 w-full lg:w-auto lg:ml-6">
        <h3 class="font-bold text-lg sm:text-xl md:text-2xl text-[#031E2D] mb-2 text-center">Profissionais responsáveis</h3>
        <div class="flex flex-row flex-wrap gap-3 w-full justify-center">
          {fisio.map((doctor) => (
            <CardDoutores img={doctor.img} title={doctor.title} text={doctor.text} conselho={doctor.conselho} />
          ))}
        </div>
      </div>
    </div>
    <!-- Depilação a Laser -->
    <div id="depilacao" class="flex flex-col lg:flex-row lg:items-start gap-6 bg-white p-4 sm:p-6">
      <div class="flex-1 min-w-0">
        <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-5xl font-semibold text-[#031E2D] mt-4 mb-3 text-left">
          Depilação a Laser
        </h2>
        <p class="text-justify text-gray-700 leading-relaxed text-sm sm:text-base md:text-lg lg:text-2xl mb-3">
          A depilação a laser é um procedimento moderno, seguro e eficaz para a redução duradoura dos pelos indesejados. Utilizando tecnologia de ponta, como o Laser Light , o tratamento é indicado para todos os tipos de pele clara e morena, proporcionando resultados visíveis desde as primeiras sessões.
        </p>
        <ul class="list-disc pl-4 space-y-1 text-gray-700 text-justify leading-relaxed text-sm sm:text-base md:text-lg lg:text-2xl mb-3">
          <li>AXILAS;</li>
          <li>BUÇO;</li>
          <li>QUEIXO;</li>
          <li>FACE COMPLETA;</li>
          <li>CONTORNO DE BARBA;</li>
          <li>LINHA ALBA;</li>
          <li>MEIA LINHA ALBA;</li>
          <li>DECOTE VIRILHA;</li>
          <li>VIRILHA COMPLETA + PERIANAL;</li>
          <li>GLUTEO;</li>
          <li>COXA;</li>
          <li>CANELA;</li>
          <li>INTERNO DE COXA;</li>
          <li>PERNA COMPLETA;</li>
          <li>BRAÇO OU ANTEBRAÇO;</li>
          <li>ORELHAS;</li>
          <li>MAOS + DEDOS;</li>
          <li>PES + DEDOS;</li>
          <li>REGIÃO LOMBAR;</li>
          <li>PEITORAL + AB;</li>
          <li>COSTAS.</li>
        </ul>
      </div>
      <div class="flex flex-col items-center gap-2 mt-6 md:mt-0 w-full lg:w-auto lg:ml-6">
        <h3 class="font-bold text-lg sm:text-xl md:text-2xl text-[#031E2D] mb-2 text-center">Profissionais responsáveis</h3>
        <div class="flex flex-row flex-wrap gap-3 w-full justify-center">
          {laser.map((doctor) => (
            <CardDoutores img={doctor.img} title={doctor.title} text={doctor.text} conselho={doctor.conselho} />
          ))}
        </div>
      </div>
  </div>  
</section>